django
amqp
asgiref
async-timeout
attrs
billiard
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
coreapi
coreschema
cryptography
defusedxml
django-debug-toolbar
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
Faker
gunicorn
idna
iniconfig
itypes
Jinja2
kombu
MarkupSafe
mixer
oauthlib
packaging
pillow
pluggy
prompt_toolkit
psycopg2-binary
py
pybadges
pycparser
PyJWT
pytest
pytest-django
pytest-pythonpath
python-dateutil
python-dotenv
python3-openid
pytz
redis
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sorl-thumbnail
sqlparse
toml
typing_extensions
tzdata
uritemplate
urllib3
vine
wcwidth
