{% load thumbnail %}
<div class="container-fluid">
    <div class="row justify-content-center">
        {% for post in page_obj %}
        <div class="post col-12 col-lg-3">
          <div>
            {% thumbnail post.image "500x300" crop="center" upscale=True as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="post_header">
            {% endthumbnail %}
          </div> 
          <div class="post_body">
            {% if post.group %}
            <span class="color_for_group"><a href="{% url 'posts:group_list' post.group.slug %}">{{ post.group.title }}</a></span>
            {% endif %}
            <h4>What's new in 2022 Tech</h4>
            <p class="post_text">{{ post.text|truncatewords:15 }}<p>
            <a href= "{% url 'posts:post_detail' post.id %}">подробнее</a>
            <p style="display: flex;">
              {% if post.author.avatar %}
                  {% thumbnail post.author.avatar "50x50" crop="center" upscale=True as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  {% endthumbnail %}
              {% else %}
                  <img src="/media/users/default.png" width="50" height="50">
              {% endif %}
              {{ post.author.get_full_name }}</p>
            <p>{{ post.pub_date|date:"d E Y" }}</p>
          </div>
        </div>
        {% endfor %}
    </div>
</div>
