@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
    /* display: grid; */
    /* place-items: center; */
    font-family: "Quicksand", sans-serif;
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

a {
    text-decoration: none;
}

/* base */
.content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* список постов */

.post_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.post_list img {
    display: block;
    max-width: 100%;
    /* max-height: 50%; */
    object-fit: cover;
}

.post {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    overflow: hidden;
    border-radius: 1em;
    margin: 1rem;
}

.post_header {}

.post_body {
    padding: 1rem;
}

.post_text {
    font-size: .90em;
}

.post_body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}
.post_body img {
    border-radius: 5em;
}


.color_for_group {
    background: #56CCF2;
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    padding: .25em .75em;
    border-radius: 1em;
    font-size: 1em;
}

.color_for_group a {
    color: #ffffff;
}

/* список постов */

/* страница одного поста */

.post_single_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.post_single {
    border-radius: 2rem;
    width: 80%;
    overflow: hidden;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post_single_top {
    display: flex;
    width: 80%;
    margin-top: 5em;
}
.post_single_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    flex-wrap: wrap;
    width: 80%;
}

.post_single_text p {
    /* width: 80%; */
    /* background: rgba(134, 132, 132, 0.068); */
    padding: 3em;
    border-radius: 1em;
}

.post_single_comment {
    width: 90%;
}
.post_single_img {
    /* width: 40%; */
    /* margin: 2rem; */
    border-radius: 2rem;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 0 0 .90em rgba(0, 0, 0, 0.7);
            /* inset 0 0 2em rgba(255, 255, 255, 0.7); */
}
.post_single_des {
    margin-left: 2em;
    width: 60%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.post_single_des img {
    border-radius: 5em;
    /* align-items: center; */
}
.post_single_des_content {
    /* width: 90%; */
    font-size: 2em;
}
.post_single_des_content h1 {
    /* width: 90%; */
    font-size: 1.5em;
}

.button_follow {
    display: inline-block;
    padding: .20em .60em .20em .60em;
    border-radius: 1em;
    color: #FFFFFF;
    background: linear-gradient(90deg, rgba(167, 9, 133, 0.719), rgba(0, 0, 255, 0.788));
    box-shadow: 0 0 .90em rgba(0, 0, 0, 0.7),
            inset 0 0 .90em rgba(255, 255, 255, 0.7);
    transition: transform 600ms;
    /* will-change: transform; */
}
.button_follow:hover {
    color: #FFFFFF;
    /* background: linear-gradient(270deg, rgba(167, 9, 133, 0.719), rgba(0, 0, 255, 0.788)); */
    transform: scale(1.05);
    /* transform: rotate(180deg) */
}

/* страница одного поста */
