{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}
  <title>Профайл пользователя {{ author.username }}</title>
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <!-- Описание профиля -->
      <div class="col-lg-3 ms-auto mt-5">
        <div class="container">
          <div class="card border-dark">
            <img src="{% if author.avatar %}
                {{ author.avatar.url }}
              {% else %}
                {% static 'img/baseavatar.jpg' %}
              {% endif %}"
              class="card-img-top"
              alt="..." />
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Всего постов: {{ object_list|length }}</li>
                <li class="list-group-item">{{ object_list.0.author.get_full_name }}</li>
                <li class="list-group-item">{{ author.first_name }}</li>
                <li class="list-group-item">{{ author.last_name }}</li>
                <li class="list-group-item">{{ author.username }}</li>
                <li class="list-group-item">{{ author.email }}</li>
                <li class="list-group-item">{{ author.birth_date|date:'d E Y' }}</li>
              </ul>
              <!-- Форма подписки и отписки на автора -->
              <form action="{% url 'posts:profile_follow' %}" method="post">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}

                {% if is_subscribed %}
                  <button class="btn btn-lg btn-light" type="submit">Отписаться</button>
                {% else %}
                  <button class="btn btn-lg btn-primary" type="submit">Подписаться</button>
                {% endif %}
              </form> <!-- Форма подписки и отписки на автора -->
            </div>
          </div>
        </div>
      </div> <!-- Описание профиля -->

      <div class="col-lg-8 mt-5 m-auto">
        <!-- Список постов -->
        <div class="container-fluid">
          <div class="row justify-content-center overflow-y-scroll" style="height: 85vh;">
            {% for post in page_obj %}
              {% include 'posts/includes/post.html' %}
            {% endfor %}
          </div>
        </div> <!-- Список постов -->
        <div class="d-flex justify-content-center">
          {% include 'posts/includes/paginator.html' %}
        </div> <!-- Паджинатор -->
      </div>
    </div>
  </div>
{% endblock %}
