{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}
<style>
    .weather-card {
        background-color: #e3f2fd;
    }
</style>
<section>
    <!-- Контент -->
    <div class="container">
        <div class="row mt-1">
            <div class="col-lg-12">
                <!-- Карточка поста -->
                <div class="container mt-5">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <!-- Изображение -->
                            <div class="col-md-4">
                                {% if post.image %}
                                {% thumbnail post.image '500x600' crop='center' upscale=True as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-fluid rounded-start" data-bs-toggle="modal" data-bs-target="#imageModal1" />
                                {% endthumbnail %}
                                {% else %}
                                <img src="{% static 'img/default_img.png' %}" width="500" height="600" class="img-fluid rounded-start" data-bs-toggle="modal" data-bs-target="#imageModal1" />
                                {% endif %}
                            </div> <!-- Изображение -->
                            <!-- Описание поста -->
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title">{{ post.title }}</h3>
                                    <div class="container px-4 text-center">
                                        <div class="row row-cols-3 gx-3 align-items-stretch justify-content-between">
                                            <div class="col">
                                                <div class="card px-3 weather-card h-100 justify-content-center">
                                                    <h5>Дата создания</h5>
                                                    <h4>{{ post.pub_date|date:'d E Y' }}</h4>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card px-3 weather-card h-100 justify-content-center">
                                                    <h5>Количество просмотров</h5>
                                                    <h3>{{ post.views_count }}</h3>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card px-3 weather-card h-100 justify-content-center">
                                                    <h3>
                                                        {% if post.group %}
                                                        <a class="btn post_single_group_name my-3" href="{% url 'posts:post_of_group' post.group.slug %}">{{ post.group.title }}</a>
                                                        {% endif%}
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center align-items-lg-stretch mt-2">
                                            <div>
                                                <div class="card mb-3 weather-card">
                                                    <div class="row g-0">
                                                        <div class="col-md-3">
                                                            {% if post.author.avatar %}
                                                            {% thumbnail post.author.avatar '256x256' crop="center" upscale=True as im %}
                                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-fluid rounded-start"
                                                                href="{% url 'users:profile' post.author.username %}">
                                                            {% endthumbnail %}
                                                            {% else %}
                                                            <img src="/media/users/default.png" width="256" height="256" class="img-fluid rounded-start">
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="card-body">
                                                                <h5 class="card-title"><a href="{% url 'users:profile' post.author.username %}">{{ post.author.get_full_name }}</a></h5>
                                                                <p class="card-text">Всего постов автора: <span> {{ post.count_posts_of_author }}</span></p>
                                                                <p class="card-text">
                                                                    <div class="mt-2">
                                                                        <form action="{% url 'posts:profile_follow' %}" method="post">
                                                                            {% csrf_token %}
                                                                            {% for hidden in form_follow.hidden_fields %}
                                                                            {{ hidden }}
                                                                            {% endfor %}

                                                                            {% if post.is_subscribed %}
                                                                            <button class="btn btn-lg btn-light btn-outline-dark" type="submit">Отписаться</button>
                                                                            {% else %}
                                                                            <button class="btn btn-lg btn-primary" type="submit">Подписаться</button>
                                                                            {% endif %}
                                                                        </form> <!-- Форма подписки и отписки на автора -->
                                                                    </div>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Увеличить изображение в модальном окне -->
                                        <div class="modal fade" id="imageModal1" tabindex="-1" aria-labelledby="imageModal1Label" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="imageModal1Label">Изображение 1</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        {% if post.image %}
                                                        {% thumbnail post.image '800x800' crop='center' upscale=True as im %}
                                                        <img src="{{ im.url }}" class="img-fluid" data-bs-toggle="modal" data-bs-target="#imageModal1" />
                                                        {% endthumbnail %}
                                                        {% else %}
                                                        <img src="{% static 'img/default_img.png' %}" width="500" height="600" />
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- Увеличить изображение в модальном окне -->
                                    </div>
                                </div>
                            </div> <!-- Описание поста -->
                        </div>
                        <div class="row">
                            <!-- Текст поста -->
                            <div class="card-body">
                                <p class="card-text p-4">{{ post.text|linebreaksbr }}</p>
                                {% if request.user.is_authenticated and request.user == post.author %}
                                <div class="d-flex justify-content-around">
                                    <a class="btn btn-primary btn-lg" href="{% url 'posts:post_edit' post.id %}">редактировать</a>
                                    <a class="btn btn-danger btn-lg" href="{% url 'posts:post_delete' post.id %}">удалить</a>
                                </div>
                                {% endif%}
                            </div> <!-- Текст поста -->
                        </div>
                    </div>
                </div>

                <!-- Блок комментариев -->
                <div id="comments" class="container">
                    {% include 'includes/comments.html' with comments=post.comments.all%}
                </div> <!-- Блок комментариев -->
</section>
{% endblock %}