{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% load user_filters %}
{% block title %}
  <title>Профайл пользователя {{ author.username }}</title>
{% endblock %}
{% block content %}
  <section>
    <div class="container-fluid">
      <!--  -->
      <div class="row mt-1 position-fixed z-3">
        <!-- Каталог -->
        <div class="dropdown mb-2">
          <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Каталог
            <img class="mx-1" src="{% static 'img/grid-fill.svg' %}" alt="Catalog Icon" width="16" height="16" />
          </button>
          <ul class="dropdown-menu bg-dark" data-bs-theme="dark">
            <li>
              <a class="dropdown-item text-white" href="../goods/catalog.html">Все товары</a>
            </li>
            <li>
              <a class="dropdown-item text-white" href="../goods/catalog.html">Кухня</a>
            </li>
            <li>
              <a class="dropdown-item text-white" href="../goods/catalog.html">Спальня</a>
            </li>
            <li>
              <a class="dropdown-item text-white" href="../goods/catalog.html">Гостинная</a>
            </li>
            <li>
              <a class="dropdown-item text-white" href="../goods/catalog.html">Офис</a>
            </li>
            <li>
              <a class="dropdown-item text-white" href="../goods/catalog.html">Фурнитура</a>
            </li>
            <li>
              <a class="dropdown-item text-white" href="../goods/catalog.html">Декор</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Контент -->
    <div class="container">
      <div class="row mt-1">
        <div class="col-lg-12">
          <!-- Контент на странице -->
          <div class="row">
            <div class="container mt-5">
              <div class="row">
                <!-- Профиль с данными пользователя -->
                <div class="col-md-5">
                  <div class="bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                    <h3 class="text-center mb-4">Профиль пользователя</h3>
                    <form method="post" action="{% url 'users:me' %}" enctype="multipart/form-data">
                      <div class="row">
                        <div class="col-md-12 mb-3 text-center">
                          <img src="{% if form.instance.avatar %}
                              {{ form.instance.avatar.url }}
                            {% else %}
                              {% static 'img/baseavatar.jpg' %}
                            {% endif %}"
                            alt="Аватар пользователя"
                            class="img-fluid rounded"
                            style="max-width: 250px;" />
                          <div class="form-group row my-3">
                            <input type="file" name="avatar" accept="image/*" class="form-control" id="{{ form.avatar.id_for_label }}" />
                          </div>
                        </div>
                        <div class="form-group row my-3">
                          <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                          <div>
                            {{ form.first_name|addclass:'form-control' }}
                            {% if form.first_name.help_text %}
                              <small id="{{ form.first_name.id_for_label }}-help" class="form-text text-muted">{{ form.first_name.help_text|safe }}</small>
                            {% endif %}
                          </div>
                        </div>
                        <div class="form-group row my-3">
                          <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                          <div>
                            {{ form.last_name|addclass:'form-control' }}
                            {% if form.last_name.help_text %}
                              <small id="{{ form.last_name.id_for_label }}-help" class="form-text text-muted">{{ form.last_name.help_text|safe }}</small>
                            {% endif %}
                          </div>
                        </div>
                        <div class="form-group row my-3">
                          <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                          <div>
                            {{ form.username|addclass:'form-control' }}
                            {% if form.username.help_text %}
                              <small id="{{ form.username.id_for_label }}-help" class="form-text text-muted">{{ form.username.help_text|safe }}</small>
                            {% endif %}
                          </div>
                        </div>
                        <div class="form-group row my-3">
                          <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                          <div>
                            {{ form.email|addclass:'form-control' }}
                            {% if form.email.help_text %}
                              <small id="{{ form.email.id_for_label }}-help" class="form-text text-muted">{{ form.email.help_text|safe }}</small>
                            {% endif %}
                          </div>
                        </div>
                        <div class="form-group row my-3">
                          <label for="{{ form.birth_date.id_for_label }}">{{ form.birth_date.label }}</label>
                          <div>
                            {{ form.birth_date|addclass:'form-control' }}
                            {% if form.birth_date.help_text %}
                              <small id="{{ form.birth_date.id_for_label }}-help" class="form-text text-muted">{{ form.birth_date.help_text|safe }}</small>
                            {% endif %}
                          </div>
                        </div>

                        {% csrf_token %}
                      </div>
                      <button type="submit" class="btn btn-dark">Сохранить</button>
                    </form>
                  </div>
                </div>
                <!-- Список постов -->
                <div class="col-md-7">
                  <div class="bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                    <h3 class="text-center mb-4">Ваши посты</h3>
                    <div class="container" id="cart-items-container">
                      <div class="card mb-3 text-bg-light shadow-lg">
                        <ul class="list-group list-group-flush">
                          {% for post in user.posts.all %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              <a href="{% url 'posts:post_detail' post.id %}">{{ post.title }}</a>
                              <span class="badge bg-secondary rounded-pill">{{ post.pub_date|time_since_post }}</span>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                      <div class="card mb-3 shadow-lg">
                        <div class="card-footer">
                          <p class="float-left">
                            <h4>Всего <span class="badge bg-secondary">{{ user.posts.count }}</span> пост(ов)</h4>
                          </p>
                        </div>
                      </div>
                      <a class="btn btn-dark" href="{% url 'posts:post_create' %}">Создать новый пост</a>
                    </div>
                  </div>
                </div>
                <!--  -->
                <!--  -->
                <div class="col-md-12">
                  <div class="bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                    <h3 class="text-center mb-4">Мои заказы</h3>
                    <!-- Разметка заказов -->
                    <div class="container">
                      <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="heading1"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">Заказ № 256 - 09 сентября 2023 9:04 | Статус:<strong class="mx-2">В обработке</strong></button></h2>
                          <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <table class="table table-dark table-hover">
                                <thead>
                                  <tr>
                                    <th>Товар</th>
                                    <th>Количество</th>
                                    <th>Цена</th>
                                    <th>Общая стоимость</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                      <a class="text-white" href="#">Комплект стол и три стула</a>
                                    </td>
                                    <td>1</td>
                                    <td>255.00 $</td>
                                    <td>255.00 $</td>
                                  </tr>
                                </tbody>
                              </table>
                              <div class="d-flex justify-content-between">
                                <p>
                                  <strong>Итого:</strong>
                                </p>
                                <p>
                                  <strong>255.00 $</strong>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="heading2"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Заказ № 248 - 01 августа 2023 11:28 | Статус: <strong>Получен</strong></button></h2>
                          <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <table class="table table-dark table-hover">
                                <thead>
                                  <tr>
                                    <th>Товар</th>
                                    <th>Количество</th>
                                    <th>Цена</th>
                                    <th>Общая стоимость</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                      <a class="text-white" href="#">Стул офисный</a>
                                    </td>
                                    <td>2</td>
                                    <td>30.00 $</td>
                                    <td>60.00 $</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Закончилась разметка заказов -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
